<!-- toggle aside is-active -->
<aside class="aside is-active">
    <div class="container">
        <nav class="side-menu">
            <div class="side-menu-item{{#if (isActive path.documentation)}} is-active{{/if}}">
                <a href="#none">Documentation</a>
                <div class="side-sub-menu">
                    <div class="side-sub-menu-item{{overview}}">
                        <a href="{{path.documentation}}/overview.html">Overview</a>
                    </div>
                    <div class="side-sub-menu-item{{css-methodology}}">
                        <a href="{{path.documentation}}/css-methodology.html">CSS 방법론</a>
                    </div>
                    <div class="side-sub-menu-item{{code-convention}}">
                        <a href="{{path.documentation}}/code-convention.html">Code Convention</a>
                    </div>
                    <div class="side-sub-menu-item{{road-map}}">
                        <a href="{{path.documentation}}/road-map.html">Road Map</a>
                    </div>
                    <div class="side-sub-menu-item{{release-note}}">
                        <a href="{{path.documentation}}/release-note.html">Release Note</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</aside>
